.mat-card {
  background-size: cover;
  height: 225px;
  padding: 0;

  .info {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .title, .year {
    padding: 3px;
  }

  .year {
    font-size: x-small;
  }

}




@media (min-width: 300px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-row-gap: 12px;
    grid-column-gap: 3.5%;
    padding: 3%;
  }
}

@media (min-width: 480px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    grid-row-gap: 12px;
    grid-column-gap: 2%;
    padding: 2%;
  }
}

@media (min-width: 640px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-row-gap: 16px;
    grid-column-gap: 2.5%;
    padding: 2%;
  }
}

@media (min-width: 800px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-row-gap: 20px;
    grid-column-gap: 2.5%;
    padding: 2%;
  }
}
